<h1>Skateboard</h1>

<ul>
    <li>Deck: <%= @deck.name %></li>
    <li>Trucks: <%= @truck.name %></li>
    <li>Bearings: <%= @bearing.name %></li>
    <li>Wheels: <%= @wheel.name %></li>
    <li>Price: <%= @deck.price + @truck.price + @bearing.price + @wheel.price %></li>
</ul>
