<h1><%= @skateboard.name %></h1>

<div class="backlink">
    <%= link_to 'Go back', skateboards_path %>
</div>

<%# Shows skateboard parts name to create the skateboard %>
<ul>
    <li>Deck: <%= @deck.name %></li>
    <li>Trucks: <%= @truck.name %></li>
    <li>Bearings: <%= @bearing.name %></li>
    <li>Wheels: <%= @wheel.name %></li>
    <li>Price: <%= number_to_currency @price %></li>
</ul>
<%= link_to "Edit skateboard", edit_skateboard_path %>
<%= link_to "Delete skateboard", @skateboard, :method => :delete, :data => { :confirm => 'Are you sure?' }  %>
