<h1>Login</h1>

<% if flash[:error].present? %>
    <h2><%= flash[:error] %></h2>
<% end %>

<%= form_tag login_path do %>
    <%= label_tag :email %>
    <%= email_field_tag :email %>

    <%= label_tag :password %>
    <%= password_field_tag :password %>

    <%= submit_tag "Sign in" %>
<% end %>
<p>Not a member yet? Sign up <%= link_to "here!", new_user_path %></p>

<ul>
    <h3>Sample Users</h3>
    <li>Email: tris@gmail.com, Password: chicken</li>
    <li>Email: hi@ga.co, Password: chicken</li>
</ul>