<div class="backlinkshow">
    <%= link_to 'Go back', wheels_path %>
</div>

<%= cl_image_tag(@wheel.image, :class => 'feature') if @wheel.image.present? %>
<ul>
    <li>Name: <%= @wheel.name %></li>
    <li>Manufacturer: <%= @wheel.manufacturer %></li>
    <li>Size: <%= @wheel.size %></li>
    <li>Price: <%= number_to_currency @wheel.price %> </li>
</ul>

<div class="controls">
    <%= link_to "Edit wheels", edit_wheel_path(@wheel) %>
    <%= link_to "Delete wheels", @wheel, :method => :delete, :data => { :confirm => 'Are you sure?' } %>
</div>