<div class="backlinkshow">
    <%= link_to 'Go back', decks_path %>
</div>

<%= cl_image_tag(@deck.image, :class => 'feature') if @deck.image.present? %>
<ul>
    <li>Name: <%= @deck.name %></li>
    <li>Manufacturer: <%= @deck.manufacturer %></li>
    <li>Size: <%= @deck.size %></li>
    <li>Price: <%= number_to_currency @deck.price %> </li>
</ul>

<div class="controls">
    <%= link_to "Edit deck", edit_deck_path(@deck) %>
    <%= link_to "Delete deck", @deck, :method => :delete, :data => { :confirm => 'Are you sure?' } %>
</div>