<!DOCTYPE html>
<html>
  <head>
    <title>Skate Part Picker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= cloudinary_js_config %>
  </head>

  <body>
    <div class="container">
      <nav>

        <%# Nested if statement: if the user is logged in show My Skateboards and if user is in skateboards_path, show all parts links  %>
        <%= link_to "Home", root_path %>
        <% if @current_user.present?%>
            |
            <%= link_to "My skateboards", skateboards_path %>
            |
            <% if current_page?(skateboards_path) %>
                <%= link_to 'All Decks', decks_path %>
                |
                <%= link_to 'All Trucks', trucks_path %>
                |
                <%= link_to 'All Bearings', bearings_path %>
                |
                <%= link_to 'All Wheels', wheels_path %>
                |
            <% end %>

            <%# Links to log in and out %>
            <%= link_to "Logout", login_path, :method => :delete %>
        <% else %>
            <%= link_to "Log in", login_path %>
        <% end %>
      </nav>
      <%= yield %>
    </div>
  </body>
</html>
